.style-bordered {
  border: 1px solid black;
}

.style-circle-container {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;

  :first-child {
    margin-left: 0px;
  }
}

.style-circle {
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 -25px;
}

.style-circle-bg { background-color: var(--color-bg); }
.style-circle-bg-offset { background-color: var(--color-bg-offset); }
.style-circle-txt { background-color: var(--color-txt); }
.style-circle-txt-offset { background-color: var(--color-txt-offset); }
.style-circle-border { background-color: var(--color-border); }
.style-circle-primary { background-color: var(--color-primary); }
.style-circle-primary-offset { background-color: var(--color-primary-offset); }
.style-circle-secondary { background-color: var(--color-secondary); }
