body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width: 700px;
    margin: auto;
    background-color: var(--color-background);
}

header {
    margin-top: 2em;
}

article,
section {
    max-width: 600px;
    width: $screen-width-sm;
    >h1 {
        font-size: $font-xl;
        text-align: center;
    }
}

pre {
    >code {
        display: block;
        border: 3px solid var(--color-stroke);
        border-radius: $rounded-sm;
        overflow-x: auto;
        padding: 5px;
    }
}

blockquote {
    background-color: var(--color-background);
    border: 2px solid var(--color-stroke);
    border-radius: $rounded-sm;
    padding: 0.5em;
    p {
        display: inline;
    }
}


hr {
    border: 0;
    border-bottom: thin solid var(--color-stroke);
    margin: 3em 0;
    clear: both;
}

input[type="submit"] {
        color: var(--color-accent);
        background-color: var(--color-link);
        border: 3px bevel var(--color-accent);
        border-radius: $rounded-sm;
        padding: 2px;
}

select {
        color: var(--color-accent);
        background-color: var(--color-link);
        border: 3px bevel var(--color-accent);
        border-radius: $rounded-sm;
}

@media screen and (min-width: $phone-width) {
    body {
        padding: 0;
    }
    article,
    section {
        max-width: 600px;
        width: $screen-width-lg;
    }
}