h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu Condensed', Verdana, Geneva, sans-serif;
    color: var(--color-headline);
}

p {
    font-family: 'Ubuntu', Georgia, 'Times New Roman', Times, serif;
    line-height: 1.575em;
    text-align: justify;
}

pre {
    >code {
        font-family: 'Ubuntu Mono', monospace !important;
        word-break: normal;
        border: 3px solid var(--color-stroke);
        border-radius: $rounded-sm;
        display: block;
        overflow-x: auto;
    }
}

blockquote {
    background-color: var(--color-background);
    border: 2px solid var(--color-stroke);
    border-radius: $rounded-sm;
    padding: 0.5em;
    line-height: 1.575em;
    p {
        display: inline;
    }
}

a {
	color: var(--color-link);
}

