/*
:root[color-mode="light"] {
  --color-bg: #fffffe;
  --color-bg-offset: #29293e;
  --color-txt: black;
  --color-txt-offset: gray;
  --color-stroke: gray;
}
*/
:root {
  // jungle pallette
  --color-midnight:      rgb(22, 22, 26);
  --color-forest-green:  rgb(0, 70, 67);
  --color-teal:          rgb(171, 209, 198);
  --color-sunset-red:    rgb(225, 97, 98);
  --color-faded-orange:  rgb(249, 188, 96);
  --color-eggshell:      rgb(255, 255, 252);

  // dark void pallette
  --color-magenta:       rgb(127, 90, 240);
  --color-pitch-black:   rgb(1, 1, 1);
  --color-slate:         rgb(148, 161, 178);
  --color-jungle-green:  rgb(44, 182, 125);

  // sunshine pallette
  --color-royalty:       rgb(39, 35, 67);
  --color-sunshine:      rgb(255, 216, 3);

}

// TODO: background and cards should have separate colors,
//       with headlines sitting comfortably against the background
//       and paragraph/aside sitting with cards
// https://www.happyhues.co/palettes/14
// https://www.rapidtables.com/convert/color/hex-to-rgb.html
:root[color-mode="light"] {
  --color-background: var(--color-forest-green);
  --color-accent: var(--color-midnight);
  --color-stroke: var(--color-faded-orange);

  --color-headline: var(--color-eggshell);
  --color-paragraph: var(--color-teal);
  --color-aside: var(--color-teal);
  --color-link: var(--color-sunset-red);
}

:root[color-mode="dark"] {
  --color-background: var(--color-midnight);
  --color-accent: var(--color-jungle-green);
  --color-stroke: var(--color-pitch-black);

  --color-headline: var(--color-eggshell);
  --color-paragraph: var(--color-slate);
  --color-aside: var(--color-slate);
  --color-link: var(--color-magenta);
}

$laptop-width: 80em;
$phone-width: 40.063em;
$font-size: 14pt;
