<div class="comment-body">
    <div class="comment-attr">

      <span><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></span>

      {{ if isset .Params "author" }}
        <span><a rel="author" class="p-author">{{ .Params.author }}</a></span>
      {{ else }}
        <span><a rel="author" class="p-author">Alex Bilson</a></span>
      {{ end }}

      <span><a href="{{ .Permalink }}" rel="bookmark">bookmark</a></span>

    </div>
    <div class="comment-content">
      {{ .Content }}
    </div>
</div>
