{{- $author := "Alex Bilson" -}}{{- if isset .Params "author" -}}{{- $author = .Params.author -}}{{- end -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="flow-l">
    {{ partialCached "nav-bar.html" . }}

	<article class="wrapper flow-m e-content">
	{{- .Content -}}

	{{ partial "comments.html" . }}
	{{ partial "attributes.html" . }}
	</article>

{{ partialCached "foot.html" . }}
{{ partialCached "scripts.html" . }}
</body>
</html>
