{{- $title := partial "ops/get-title.html" . -}}
{{- $author := partial "ops/get-author.html" . -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="flow-l">
    {{ partialCached "nav-bar.html" . }}

	<article class="wrapper flow-m e-content">
		<h1 id="jump" hidden>{{ $title }}</h1>
		{{- .Content -}}

	{{ partial "comments.html" . }}
	{{ partial "attributes.html" . }}
	</article>
	 <chaos-panel data-panel-type="log">
		<chaos-panel-option
			data-key="date"
			data-label="Date"
			data-type="text"
			data-readonly="true"
		></chaos-panel-option>
		<chaos-panel-option
			data-key="path"
			data-label="File Path"
			data-type="text"
			data-required="true"
		></chaos-panel-option>
		<chaos-panel-option
			data-key="syndicate"
			data-label="Syndicate"
			data-type="boolean"
		></chaos-panel-option>
		<chaos-panel-option
			data-key="photo"
			data-label="Photo"
			data-type="file"
		></chaos-panel-option>
		<chaos-panel-option
			data-key="photoAlt"
			data-label="Photo Alt Text"
			data-type="text"
		></chaos-panel-option>
		<chaos-panel-option
			data-key="photoCap"
			data-label="Photo Caption"
			data-type="text"
		></chaos-panel-option>


	 </chaos-panel>

{{ partialCached "foot.html" . }}
{{ partialCached "scripts.html" . }}
</body>
</html>
