<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partial "head.html" . }}

<body>
  <div class="page-content">
    {{ partial "nav-bar.html" . }}

    <!-- Content Body -->

    <article class="comment-body h-entry">

      <div class="comment-content-single">
        {{ .Content }}
      </div>

    <!-- Content Footer -->

    <footer class="comment-footer muted-text">
      {{ if .Params.comments }}
      <p>To leave a reply, log in to an identifying account (e.g. Facebook, etc.) and write a comment below (see my <a href="{{ .Site.BaseURL }}/policies">policies</a>) or send me a <a class="post-link" href="https://indieweb.org/Webmention">webmention</a> with a reference to this post and I may add it here. &#x1F601;</p>
      <div id="remark42"></div>
      {{ end }}

      <ul class="comment-subtext muted-text">
      {{ if isset .Params "author" }}
        <li>By <a rel="author" class="p-author">{{ .Params.author }}</a></li>
      {{ else }}
        <li>By <a rel="author" class="p-author">Alex Bilson</a></li>
      {{ end }}

        <li>
          <p>Posted <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
        </li>
          {{ if (isset .Params "categories") }}
        <li>
          <p>Category: {{ range .Params.categories }}#{{ . | urlize | title }} {{ end }}</p>
        </li>
        {{ end }}

          {{ if (isset .Params "tags") }}
        <li>
          <p>Tags: {{ range .Params.tags }}#{{ . | urlize | title }} {{ end }}</p>
        </li>
        {{ end }}
     </ul>
    </footer>
    </article>

    <!-- Next Post Card & Home Card -->
    {{ partial "foot.html" . }}

  </div>
  {{ partial "scripts.html" . }}
</body>

</html>
