<section class="log-page narrow">

  <h1 class="log-page__title">{{- .Title -}}</h1>
  <p>{{- .Content -}}</p>

  <!-- at the top level, shows the last six months of logs with archive links -->
  {{- if eq .CurrentSection .FirstSection -}}

    {{- range .RegularPages -}}
      {{- if ge .Date (now.AddDate 0 -6 0) -}}
        {{ .Render "li" }}
      {{- end -}}
    {{- end -}}

    <div class="log-page__archive">
      <h2>Archives</h2>
      <div class="log-page__archive-list">
      {{- range .Sections -}}
        <a href="{{ .URL }}">{{- .Title -}}</a>
      {{- end -}}
      </div>
    </div>

  <!-- at subsequent levels, show all logs at and below the log folder route -->
  {{- else -}}
    {{- range .RegularPagesRecursive -}}
        {{ .Render "li" }}
    {{- end -}}
  {{- end -}}

</section>
