<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partial "head.html" . }}
<body>
  {{ partial "nav-bar.html" . }}
  {{ partial "notes/note-page-content.html" . }}
  {{ partial "foot.html" . }}
  {{ partial "scripts.html" . }}
  <script>
  function handleForm() {
    const form = document.notesForm;
    filterByEpistemic(form);
  }

  function filterByEpistemic(form) {
    const selectedEpistemic = Array.from(form.epistemicSelector.selectedOptions).map(o => o.value)[0];

    Array.from(document.querySelector('#note-form').children)
      .forEach(li => {
        const epistemic = li.children[0].dataset.epistemic;
        li.style.display = epistemic === selectedEpistemic ? 'block' : 'none';
      });
  }
  </script>
</body>
</html>
