{{- $title := .Title -}}{{- if eq $title "" -}}{{- $title = humanize .File.BaseFileName -}}{{- end -}}
<article class="stone-card">
  <h2 class="stone-card__title"><a class="stone-card__link" href="{{ .Permalink }}">{{- $title -}}</a></h2>
  <p class="stone-card__summary">{{- .Summary -}}{{- if .Truncated -}}&mldr;{{- end -}}</p>
  <div class="stone__ref">
    -
    <span class="stone__author">{{- delimit .Params.authors "," -}}.</span>
    <span class="stone__copyright">({{- .Params.copyright -}})</span>
    <span class="stone__source">{{- .Params.source -}}.</span>
    {{- if isset .Params "page" -}}
	    {{- $page := printf " pg. %s" .Params.page -}}
	    {{- if in "Preface Foreword" .Params.page -}}
		    {{- $page = .Params.page -}}
	    {{- end -}}
    <span class="stone__page">{{- $page -}}</span>
    {{- end -}}
  </div>
</article>
