{{- $stones := sort .Pages "Lastmod" "desc" -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="flow-l">
{{ partialCached "nav-bar.html" . }}
	<article class="wrapper flow-m">
		<h1 id="jump">{{- .Title -}}</h1>
		{{- .Content -}}
		<chaos-resizer>
		<ul class="fill-list filter-wide" role="list">
		{{- range $stones -}}
		{{- $title := .Title -}}{{- if eq $title "" -}}{{- $title = humanize .File.BaseFileName -}}{{- end -}}
			<li>
				<div>[
					<span>{{- .Date.Format "2/1/06" -}}</span>
					<span hidden>{{- .Lastmod.Format "2/1/06" -}}</span>
					<span>{{- .ReadingTime -}} m</span>]
				</div>
				<div><a href="{{- .Permalink -}}">{{- $title -}}</a></div>
			</li>
			{{- end -}}
		</ul>
		</chaos-resizer>
	</article>
{{ partialCached "foot.html" . }}
{{ partialCached "scripts.html" . }}
</body>
</html>
