{{- $stones := sort .Pages "Lastmod" "desc" -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partial "head.html" . }}
<body class="flow-l">
{{ partialCached "nav-bar.html" . }}

	<article class="wrapper flow-m">
		<h1 id="jump">{{- .Title -}}</h1>
		{{- .Content -}}

		<ul class="filter-fields fill-list" role="list">
		{{- range $stones -}}
		{{- $title := partial "ops/get-title.html" . -}}
			<li>
				<div><a href="{{- .Permalink -}}#jump">{{- $title -}}</a></div>
				<div class="attributes"><span>
					{{- if isset .Params "authors" -}}
						{{- delimit .Params.authors ", " -}}
					{{- end -}}
					</span>
					<span>{{- .Date.Format "2/1/06" -}}</span>
					<span hidden>{{- .Lastmod.Format "2/1/06" -}}</span>
					<span>{{- .ReadingTime -}} m</span>
				</div>
			</li>
			{{- end -}}
		</ul>
	</article>
{{ partialCached "foot.html" . }}
{{ partialCached "scripts.html" . }}
</body>
</html>
