{{- $title := partial "ops/get-title.html" . -}}
{{- $taxo := "tags" -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partialCached "head.html" . }}
<body class="flow-l">
	{{ partialCached "nav-bar.html" . }}
	<article class="wrapper flow-m e-content">
      <h1 id="jump">{{- $title -}}</h1>
		<a class="u-url" href="{{ .Permalink }}" hidden></a>

		<!-- Adds tags to the post if they exist -->
		{{- if isset .Params $taxo -}}
		<div class="spread narrow-spread">
		{{- range $name := .Param $taxo -}}
			{{- with $.Site.GetPage (printf "/%s/%s" $taxo ( $name | urlize)) -}}
			<a class="p-category" href="{{ .Permalink }}">{{- $name -}}</a>
			{{- end -}}
		{{- end -}}
		</div>
		{{- end -}}

		{{- .Content -}}
		{{ partial "citation.html" . }}
  </article>

  {{- if ne $.Site.Data.backrefs nil -}}
		{{- $matches := where $.Site.Data.backrefs "referrer" "eq" (printf "/%s" .File.Path) -}}

		{{- if gt (len $matches) 0 -}}
		{{ partial "curve.html" (dict "Classes" "curve backlinks reverse") }}
		<aside id="backlinks" class="wrapper flow-m">
			{{- partial "backlink.html" (dict "path" (printf "/%s" .File.Path) "backrefs" $.Site.Data.backrefs "site" .Site) -}}
		</aside>
		{{ partial "curve.html" (dict "Classes" "curve backlinks") }}
	  {{- end -}}

  {{- end -}}

		<app-panel panel-type="stone"
			><div slot="options">
				<app-panel-option
					key="path"
					label="File Path"
					type="text"
					required="true"
				></app-panel-option>
				<app-panel-option
					key="authors"
					label="Authors"
					type="list"
					required="true"
				></app-panel-option>
				<app-panel-option
					key="tags"
					label="Tags"
					type="list"
					required="true"
				></app-panel-option>
				<app-panel-option
					key="copyright"
					label="Copyright"
					type="text"
					required="true"
				></app-panel-option>
				<app-panel-option key="page" label="Page" type="text" required="true"
					><app-panel-option
						key="source"
						label="Source"
						type="text"
						required="true"
					></app-panel-option>
				</app-panel-option></div
				></app-panel>

  {{ partialCached "foot.html" . }}
  {{ partialCached "scripts.html" . }}
</body>
</html>
