<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partial "head.html" . }}
<body class="flow-l">
  {{ partialCached "nav-bar.html" . }}

  <article class="wrapper flow-m">
  {{- with .Title -}}
    <h1 id="jump">{{- . -}}</h1>
  {{- end -}}
  {{- with .Content -}}
	 {{- . -}}
  {{- end -}}

  {{- if .IsHome -}}
<chaos-on-this-day>
	<aside>
		<button>Show On This Day</button>
	</aside>
</chaos-on-this-day>
  {{- end -}}

  {{- if not .IsHome -}}
    {{- range .Pages -}}
      {{- .Render "li" -}}
    {{- end -}}
  {{- end -}}
  </article>

  {{ partialCached "foot.html" . }}
  {{ partialCached "scripts.html" . }}
</body>
</html>
