<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="flow-l">
  {{ partialCached "nav-bar.html" . }}

  {{- $title := partial "ops/get-title.html" . -}}
  <article class="wrapper flow-m e-content">
    <h1 id="jump">{{ $title }}</h1>
    <a class="u-url" href="{{ .Permalink }}" hidden></a>

    <!-- Post Table of Contents -->
	{{ if isset .Params "toc" -}}
		{{ .TableOfContents }}
	{{- end }}

  {{ .Content }}
  </article>

	<aside id="backlinks" class="wrapper flow-m">
		{{- partial "backlink.html" (dict "path" (printf "/%s" .File.Path) "backrefs" $.Site.Data.backrefs "site" .Site) -}}
	</aside>

  {{ partialCached "foot.html" . }}
  {{ partialCached "scripts.html" . }}
</body>
</html>
