<div class="comment-body next-card">

    <!-- Card Header -->
      {{ if isset .Params "author" }}
        <p class="muted-text">By <a rel="author" class="p-author">{{ .Params.author }}</a></p>
      {{ else }}
        <p class="muted-text">By <a rel="author" class="p-author">Alex Bilson</a></p>
      {{ end }}

    <!-- Card Text -->
    <div class="comment-content">
      {{ .Content }}
    </div>
    <div style="margin-left: 1%; font-size: 12px; color: grey;">
      <span><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></span>
      <span>{{ range .Params.categories }}#{{ . | urlize | lower }} {{ end }}</span>
      <span><a href="{{ .Permalink }}" rel="bookmark">
        <img src="{{ "/svg/link.svg" | absURL }}" style="display: inline-block; width: 16px; margin: 0;" />
        </a></span>
    </div>
</div>
