<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="dark">
{{ partial "head.html" . }}

<body>
  <div class="page-content">
    {{ partial "nav-bar.html" . }}

    <!-- Content Body -->

    <article class="comment-body h-entry">
      <div class="comment-content-single">
        {{ .Content }}
      </div>

    <ul class="comment-subtext muted-text">
      <li>
        <p>Posted <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
      </li>
        {{ if (isset .Params "categories") }}
      <li>
        <p>Category: {{ range .Params.categories }}#{{ . | urlize | title }} {{ end }}</p>
      </li>
      {{ end }}

        {{ if (isset .Params "tags") }}
      <li>
        <p>Tags: {{ range .Params.tags }}#{{ . | urlize | title }} {{ end }}</p>
      </li>
      {{ end }}
   </ul>

    {{ if .Params.comments }}
    <div id="remark42"></div>
    {{ end }}
    </article>

    <!-- Next Post Card & Home Card -->
    {{ partial "foot.html" . }}

  </div>
</body>

</html>
