<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="dark">
{{ partial "head.html" . }}

<body>
  <div class="page-content">
    {{ partial "nav-bar.html" . }}

    <!-- Content Body -->

    <article class="comment-body h-entry">
      <div class="comment-content-single">
        {{ .Content }}
      </div>
    </article>

    {{ partial "post-footer.html" . }}

    <!-- Next Post Card & Home Card -->
    {{ partial "foot.html" . }}

  </div>
  {{ partial "scripts.html" . }}
</body>

</html>
