:root[color-mode="light"] {
  --color-bg: #fffffe;
  --color-bg-offset: #29293e;
  --color-txt: black;
  --color-txt-offset: gray;
  --color-border: gray;
  --color-primary: black;
  --color-primary-offset: #e6e6e6;
  --color-secondary: blue;
}

:root[color-mode="dark"] {
  --color-bg: #16161a;
  --color-bg-offset: #29293e;
  --color-txt: #fffffe;
  --color-txt-offset: #94a1b2;
  --color-border: #383a61;
  --color-primary: #7f5af0;
  --color-primary-offset: #2cb67d;
  --color-secondary: #e068fd;
}

