:root {
	/* @link https://utopia.fyi/type/calculator?c=320,19,1.125,1440,25,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

	// font steps
  --step--2: clamp(0.88rem, calc(0.95rem + -0.08vw), 0.94rem);
  --step--1: clamp(1.06rem, calc(1.02rem + 0.17vw), 1.17rem);
  --step-0: clamp(1.19rem, calc(1.08rem + 0.54vw), 1.56rem);
  --step-1: clamp(1.34rem, calc(1.12rem + 1.07vw), 2.08rem);
  --step-2: clamp(1.50rem, calc(1.14rem + 1.82vw), 2.78rem);
  --step-3: clamp(1.69rem, calc(1.12rem + 2.87vw), 3.70rem);
  --step-4: clamp(1.90rem, calc(1.04rem + 4.33vw), 4.93rem);
  --step-5: clamp(2.14rem, calc(0.87rem + 6.34vw), 6.58rem);

  /* @link https://utopia.fyi/space/calculator?c=320,19,1.2,1440,25,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

	// spacing steps
  --space-3xs: clamp(0.31rem, calc(0.29rem + 0.09vw), 0.38rem);
  --space-2xs: clamp(0.63rem, calc(0.57rem + 0.27vw), 0.81rem);
  --space-xs: clamp(0.88rem, calc(0.79rem + 0.45vw), 1.19rem);
  --space-s: clamp(1.19rem, calc(1.08rem + 0.54vw), 1.56rem);
  --space-m: clamp(1.81rem, calc(1.65rem + 0.80vw), 2.38rem);
  --space-l: clamp(2.38rem, calc(2.16rem + 1.07vw), 3.13rem);
  --space-xl: clamp(3.56rem, calc(3.24rem + 1.61vw), 4.69rem);
  --space-2xl: clamp(4.75rem, calc(4.32rem + 2.14vw), 6.25rem);
  --space-3xl: clamp(7.13rem, calc(6.48rem + 3.21vw), 9.38rem);

	// character steps
	--char-0: 60ch;
	--char-1: 45ch;
	--char-2: 40ch;
	--char-3: 35ch;
	--char-4: 25ch;
	--char-5: 20ch;
	--char-6: 17ch;

	// other
	--radius: 1rem;
	--flow-space: 1em;
	--border-size: 0.125rem;
	--wave-translation: 25%;
}

:root[theme="void"] {
	--color-eggshell: rgb(255, 255, 252);
	--color-magenta: rgb(127, 90, 240);
	--color-pitch-black: rgb(1, 1, 1);
	--color-slate: rgb(148, 161, 178);

	--color-primary: var(--color-eggshell);
	--color-secondary: var(--color-pitch-black);
	--color-tertiary: var(--color-slate);
	--color-stroke: var(--color-magenta);
}

:root[theme="minimal"] {
	// colors
	--color-eggshell: rgb(255, 255, 252);
	--color-midnight: rgb(22, 22, 26);
	--color-royalty: rgb(39, 35, 67);
	--color-navy-blue: navy;

	--color-primary: var(--color-royalty);
	--color-secondary: var(--color-eggshell);
	--color-tertiary: var(--color-navy-blue);
	--color-stroke: var(--color-midnight);
	//--color-muted: hsl(248°, 31.4%, 60.0%);
}

/* reset.css @link https://github.com/hankchizljaw/modern-css-reset/blob/master/src/reset.css */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
fieldset,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
	padding-left: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: var(--step-2);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* my baseline */

* {
	font-size: var(--step-0);
	color: var(--color-primary);
	border-color: var(--color-stroke);
}

body {
	background-color: var(--color-secondary);
}

input[type="submit"],
button,
select {
	color: var(--color-secondary);
	background-color: var(--color-tertiary);
	border-radius: 0.25rem;
}

select,
input,
button {
	padding-left: var(--space-2xs);
	padding-right: var(--space-2xs);
}

/*  greys out disabled elements */
button[disabled] {
	background-color: grey;
}

input[readonly],
input[disabled] {
	color: grey;
}

/* generates headers on a scale */
@for $i from 1 through 6 {
	h#{6 - $i} {
		font-size: var(--step-#{$i});
		line-height: var(--step-#{$i});
		/* sets headers to a pleasing width */
		max-width: var(--char-#{$i});
		> a {
			font-size: inherit;
		}
		/* hides local nav header links */
		> a[href^="#"] {
			display: none;
		}
	}
}

/* gives paragraphs default spacing */
p + p {
	margin-top: var(--space-xs);
}

/* makes abbreviations stand out */
abbr {
	text-decoration: underline;
	text-decoration-style: dotted;
}

/* makes text pleasingly wide */
p,
li,
ul,
pre,
figcaption {
	max-width: var(--char-0);
}

/* ensures nav contents don't stretch container */
nav {
	li {
		margin-top: auto;
		margin-bottom: auto;
	}

	// overrides default padding
	select {
		border: unset;
		padding-left: 0;
		padding-right: 0;
	}
}

/* ensures code blocks horizontally scroll and keep their default colors */
pre {
	overflow-x: auto;
	padding-left: var(--space-2xs);
	padding-right: var(--space-2xs);
	> * {
		color: unset;
	}
}

:focus {
	outline: 3px dotted var(--color-primary);
	outline-offset: 0.2rem;
}

/* defines a better meter */
meter::-webkit-meter-optimum-value {
	box-shadow: 0 5px 5px -5px #999 inset;
	background-image: linear-gradient(
		90deg,
		var(--color-secondary),
		var(--color-primary)
	);
	background-size: 100% 100%;
}

/* gives some shape to tables */
table {
	border: var(--border-size) solid var(--color-stroke);
	border-collapse: collapse;
	border-spacing: 0;

	th {
		border: var(--border-size) solid var(--color-stroke);
	}

	td {
		border: calc(var(--border-size) / 3) solid var(--color-stroke);
	}

	td,
	th {
		padding: var(--space-2xs);
	}
}

// makes block quotes stand out a little
blockquote {
	border-left: 1px solid var(--color-stroke);
	padding-left: var(--space-2xs);
}

// makes images more beautiful
img {
	border-radius: var(--radius);
}

figure {
	width: fit-content;
	max-width: var(--char-0);

	figcaption {
		font-style: italic;
		text-align: center;
	}
}

// textareas should fill their container by default
textarea {
	width: 100%;
	height: -webkit-fill-available;
}

// a better field set
fieldset {
	// unsets min-width to make it play better with sizing
	min-width: unset;
	border-color: var(--color-stroke);
	margin-inline-start: unset;
	margin-inline-end: unset;
	padding-block-start: unset;
	padding-inline-start: unset;
	padding-inline-end: unset;
	padding-block-end: unset;
	border: none;
}

// makes components fit better into the flow
select,
chaos-color-switch,
chaos-filter,
chaos-login,
chaos-logout,
chaos-masto-login,
chaos-masto-logout,
chaos-on-this-day,
chaos-panel,
chaos-panel-option,
chaos-search,
{
	display: block;
}

@import "./utilities.scss";
@import "./exceptions.scss";
@import "./blocks.scss";
