@import './_vars.scss';
body {
    font-family: 'Ubuntu', Georgia, serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: $font-size;
    word-break: break-word;
    color: var(--color-txt);
    background-color: var(--color-bg);

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width: 700px;
    margin: auto;
}

header {
    margin-top: 2em;
}

article {
    width: 100%;
    max-width: 600px;
}

section {
    width: 100%;
}

hr {
    border: 0;
    border-bottom: thin solid var(--color-border);
    margin: 3em 0;
    clear: both;
}

@media screen and (min-width: $phone-width) {
    body {
        padding: 0;
    }
}

@import './default/containers.scss';
@import './default/text.scss';
@import './default/nav.scss';
@import './default/images.scss';
@import './default/tables.scss';
@import './default/lists.scss';
@import './default/links.scss';
@import './default/popups.scss';
@import './default/forms.scss';
@import './notes/containers.scss';
@import './logs/containers.scss';
@import './logs/text.scss';
@import './search/containers.scss';
@import './network/nodes.scss';
@import './styles/containers.scss';
