/*
 * Navigation CSS
 */

.nav-bar {
    font-family: Verdana, Geneva, sans-serif;
    background: white;
    padding: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px black solid;
}

.nav-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
}

.nav-header>a {
    padding-left: 0.5em;
}

/* END Navigation CSS */

/*
 * Post Header CSS
 */

.post-header {
}

h1.post-title {
    font-size: 1.8em;
}

.post-attributes {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.post-attributes>p {
    margin: 0;
    text-align: center;
}

.post-link {
    color: #7a7b7c;
}

.post-toc {
  position: relative;
  width: inherit;
}

@media screen and (min-width: 40.063em) {
    .post-header {
    }
    .post-attributes {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
}

/* Moves TOC to sidebar when screen is maximized */

@media screen and (min-width: 80em) {
    .post-toc {
        position: fixed;
        top: 2em;
        left: 0.2em;
        width: 18%;
    }
}

/* END Post Header CSS */

/*
 * Post Content CSS
 */

.post-content>picture>img {
    margin-top: 0.2em;
}

/* END Post Content CSS */

/*
 * Post Footer CSS
 */

.post-footer {
    display: block;
}

.post-citations>ul {
    list-style-type: none;
}

.post-addendum>ul {
    list-style-type: none;
}

/* Moves citations and addendum
to sidebar when screen is maximized */

@media screen and (min-width: 80em) {
    .post-citations {
        position: fixed;
        top: 2em;
        right: 1em;
        width: 18%;
    }
    .post-addendum {
        position: fixed;
        top: 2em;
        right: 1em;
        width: 18%;
    }
}

/* END Post Footer CSS */

/*
 * Card CSS
 */

.next-card {
    margin-top: 2em;
}

.next-card>a {
    text-decoration: none;
}

.card-display {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* comment-specific */
.quote-link {
    padding-left: 2em;
    margin-bottom: 1em;
}

.card-display-comment {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-decoration: none;
}

.comment-content>p:last-child {
  margin: 0;
}

/* end comment-specific */

.card-img-container {
    position: relative;
}

.card-img {
    border-radius: 0.3rem;
    object-fit: cover;
}

.card-img-overlay {
    border-radius: 0.3rem 0.3rem 0 0;
    position: absolute;
    top: 0;
    font-size: 1.27em;
    text-align: center;
    padding: 0.6em 0 0.5em 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.card-text-container {
    padding: 1em;
    text-align: center;
}

.card-title {
    margin: 0;
    line-height: 1.2;
}

.card-summary {
    margin: 1em 0;
    line-height: 1.5;
}

@media screen and (min-width: 40.063em) {
    .card-display {
        display: flex;
        flex-direction: row;
    }
    .card-text-container {
        text-align: left;
    }
    .card-img {
        margin: 0;
        max-height: 250px;
        height: 100%;
        width: 15em;
    }
}

/* END Card CSS */

/*
    * Home Card CSS
    */

.home-card {
    text-decoration: none;
    display: block;
    text-align: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.home-card>span {
    font-size: 2em;
    font-weight: bold;
    background-color: white;
    padding: 0 0.4em 0.2em 0.4em;
}

/* END Home Card CSS */

/*
* Business Card CSS
*/

.business-card-container {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}

.business-card-info {
    flex: 30%;
    text-align: center;
}

.business-card-text {
    flex: 70%;
}

.copyright {
    text-align: right;
    font-size: 0.8em;
}

.u-photo {
    position: relative;
    max-width: 250px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 40.063em) {
    .business-card-container {
        display: flex;
        flex-direction: row;
    }
    .business-card-text {
        padding-left: 1em;
    }
}

/* END Business Card CSS */

/*
* List Header CSS
*/

.list-header {
    margin-top: 4em;
    text-align: center;
}

h1.list-header-title {
    margin: 0.1em 0 0.2em 0;
    font-size: 2.2em;
    text-transform: uppercase;
}

@media screen and (min-width: 40.063em) {
    .list-header {
        margin-top: 2em;
        text-align: center;
    }
}

/* END List Header CSS */

/*
* List Pagination CSS
*/

.list-pagination-container {
    display: flex;
    margin: 1em;
}

.list-pagination-left {
    flex: 50%;
    text-align: left;
}

.list-pagination-left-number {
    margin-left: 0.2em;
}

.list-pagination-right-number {
    margin-right: 0.2em;
}

.list-pagination-right {
    flex: 50%;
    text-align: right;
}

/* END List Pagination CSS */

/* PAGE SPECIFIC CSS */

/*
* Accordion CSS
*/

.post-accordion-hide {
    display: none;
}

.post-accordion-quote:hover {
    background-color: white;
}

.post-accordion-quote {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.19) inset, 0 0.3rem 0.3rem -0.1rem rgba(0, 0, 0, 0.23) inset;
    background-color: #ecedef;
}

.accordion-content {
    display: flex;
    flex-flow: column nowrap;
}

.accordion-content>p {
    margin: 0.2em;
}

/* Moves quotes to sidebar when screen is maximized */

@media screen and (min-width: 80em) {
    .post-accordion {
        position: absolute;
        left: 0.2em;
    }

  .post-accordion-quote {
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.19) inset, 0 0.3rem 0.3rem -0.1rem rgba(0, 0, 0, 0.23) inset;
      background-color: #ecedef;
      width: 50%;
  }

}

/* END Accordion CSS */


/*
* Share CSS
*/

textarea.comment-body {
    width: 100%;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/* END Share CSS */
