/* Utilities */

/* flow utility */

.flow-l > * + * {
	margin-top: calc(var(--flow-space, 1em) * 1);
}
.flow-m > * + * {
	margin-top: calc(var(--flow-space, 1em) * 0.8);
}
.flow-s > * + * {
	margin-top: calc(var(--flow-space, 1em) * 0.6);
}
.flow-t > * + * {
	margin-top: calc(var(--flow-space, 1em) * 0.4);
}

.hidden {
	display: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	max-width: 100%;
}

.fill {
	width: 100%;
}

/* spread utility */
.spread {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	column-gap: var(--flow-space);
	row-gap: calc(var(--flow-space) / 2);
}

.spread-btwn {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.spread-down {
	display: flex;
	flex-flow: column nowrap;
}

/* grid utility */

@for $i from 2 through 5 {
	.grid-#{$i} {
		display: grid;
		grid-row-gap: calc(var(--flow-space) / 2);
		grid-template-columns: repeat(#{$i}, auto);
	}
}

/* wrapper utility */
.wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--space-s);
	padding-right: var(--space-s);
}

.highlight {
	background: yellow;
	width: fit-content;
	max-width: 100%;
}

.round-border {
	padding-left: var(--space-2xs);
	padding-right: var(--space-2xs);
	border: 1px solid var(--color-stroke);
	border-radius: var(--radius);
}
