.basic-page {
    &__title {
        text-transform: capitalize;
    }
    &__content {
        display: grid;
        grid-gap: $base-size * 3;
        grid-template-columns: 100%;
        @media screen and (min-width: $phone-width) {
            grid-template-columns: repeat($column-count, auto);
            grid-gap: $base-size * 10;
        }
    }
}