.bible {
    &__title {
        text-transform: capitalize;
        font-size: $font-xl;
    }
    &__src {
        font-size: $font-lg;
        text-align: center;
        color: var(--color-aside);
    }
    &__version {
        font-style: italic;
    }
}