footer {
	width: 80%;
	height: 100%;

	hr {
		color: var(--color-stroke);
	}

	.copyright {
		text-align: right;
		margin: 0;
		padding: 0;
	}

	.attribution {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	@media screen and (max-width: $breakpoint-md) {
		.attribution {
			flex-flow: column nowrap;
			//justify-content: space-between;
		}
	}
}
