.log {
    margin-top: 4%;
    &__attr {
        display: flex;
        flex-flow: column nowrap;
        list-style: none;
        font-size: $font-md;
        >li+li {
            margin: 0 $base-size;
        }
    }
    &__author {
        color: var(--color-aside);
    }
    &__link+&__link {
        margin: 0 $base-size;
    }
    &__link:first-of-type {
        margin-left: $base-size;
    }
    &__link:last-of-type {
        margin-right: 0;
    }
    @media screen and (min-width: $phone-width) {
        &__attr {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding-left: 0;
        }
    }
}