.notice {
    $spacing: $base-size * 8;
    margin: ($base-size * 10) ($base-size * 3);
    &--is-long {
        text-align: left;
    }
    &--is-short {
        text-align: center;
    }
    &__header {
        position: relative;
        top: -$spacing;
        margin: auto;
        text-align: center;
        font-size: $base-size * 10;
        line-height: 0;
    }
    &__text {
        text-align: inherit;
        margin: 0;
        padding: 0 ($base-size * 3);
    }
    &__ref {
        text-align: center;
    }
    &__top {
        margin-bottom: $spacing;
        margin-top: 0;
    }
    &__bottom {
        margin-top: $spacing;
        margin-bottom: 0;
    }
}