.quote {
    &--is-long {
        text-align: left;
    }
    &--is-short {
        text-align: center;
    }
    &__src {
        margin-top: 10px;
        display: block;
        text-align: center;
    }
}