.stone-card {
    &__title {
        line-height: 1.2;
    }
    &__link {
        text-transform: capitalize;
    }
    &__summary {
        text-align: unset;
        color: var(--color-paragraph);
    }
}
