.garden {
    &__title {
      text-transform: capitalize;
      fill: var(--color-link);
      font-size: $font-sm;
    }

    &__icon {
      fill: var(--color-background);
      stroke: var(--color-stroke);
      stroke-width: 1px;
      stroke-dasharray: 1, 0.5;
    }

    @media screen and (min-width: $phone-width) {
        &__title {
          font-size: $font-sm / 2;
        }
    }
}
