.log-page {
    width: $screen-width-sm;
    &__title {
        text-align: center;
        font-size: $font-xl;
    }
    @media screen and (min-width: $phone-width) {
        width: $screen-width-lg;
    }
}