.plant-page {
    &__list {
        padding-left: 0;
        list-style: none;
    }
    &__form {
        display: flex;
        flex-flow: row wrap;
        >* {
            margin: 5px;
        }
    }
    @media screen and (min-width: $phone-width) {
        $columns: 2;
        &__list {
            column-count: $columns;
            --moz-column-count: $columns;
            --webkit-column-count: $columns;
            column-gap: 2%;
            --moz-column-gap: 2%;
            --webkit-column-gap: 2%;
        }
        &__item {
            display: grid;
            grid-column-gap: $base-size * 3;
            grid-template-columns: 140px auto;
        }
    }
}

.plant-entry {
    &__title { @include title-heading; }
}

.plant-card {
    display: flex;
    flex-flow: column nowrap;
    &__link {
        text-decoration: none;
        text-transform: capitalize;
    }
    &__attr {
        font-size: $font-sm;
        span+span {
            padding-left: $base-size;
        }
    }
    @media screen and (min-width: $phone-width) {
      display: grid;
      grid-column-gap: $base-size * 3;
      grid-template-columns: 140px auto;
    }
}
