.post {
    width: 90%;
    &__title {
        font-size: 3em;
    }
    &__toc {
        position: relative;
        width: inherit;
    }
    @media screen and (min-width: $phone-width) {
        width: 100%;
    }
}