.post {
    width: $screen-width-sm;
    &__title {
        font-size: 3em;
    }
    &__toc {
        position: relative;
        width: inherit;
    }
    @media screen and (min-width: $phone-width) {
        width: $screen-width-lg;
    }
}