.post-card {
    &__title {
        line-height: 1.2;
    }
    &__selector {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-decoration: none;
    }
    &__img {
        width: 200px;
        height: 200px;
        border-radius: 0.3em;
        object-fit: cover;
        margin: auto;
    }
    &__text {
        text-align: center;
    }
    &__summary {
        text-align: unset;
        color: var(--color-paragraph);
    }
    &__attr {
        display: flex;
        flex-flow: column nowrap;
        color: var(--color-aside);
        >p {
            text-align: unset;
            font-size: 0.8em;
            margin: 0;
        }
    }
    @media screen and (min-width: $phone-width) {
        &__selector {
            display: flex;
            flex-direction: row;
        }
        &__text {
            text-align: left;
            padding-left: 20px;
        }
    }
}