img {
	display: block;
	width: 100%;
	height: auto;
	margin: 1.5em 0;
  border-radius: 0.3em;
  filter: drop-shadow(3px 3px 3px gray);
}

figcaption {
  margin-top: -1em;
  padding-left: 1%;
  font-style: italic;
  line-height: 1.575em;
}

.title-img-container {
    position: relative;
    width: 70%;
    height: auto;
    margin: auto;
}

.title-img {
    border-radius: 50%;
}

.card-img {
	border-radius: 0.3rem;
	object-fit: cover;
}
.card-img-overlay {
	border-radius: 0.3rem 0.3rem 0 0;
	position: absolute;
	top: 0;
	font-size: 1.27em;
	text-align: center;
	padding: 0.6em 0 0.5em 0;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	color: var(--color-paragraph);
	background-color: var(--color-background);
	z-index: 5;
}

.svg-icon {
	circle {
		stroke: #4691f6;
		stroke-width: 1;
	}
}

.diagram {
  background-color: white;
  padding: 10px 0;
}

@media screen and (min-width: $phone-width) {
	.card-img {
		margin: 0;
		max-height: 250px;
		height: 100%;
		width: 15em;
	}
}
