a {
	color: var(--color-link);
}

a.internal {
  text-transform: capitalize;
}

// displays the backlink popup
a.internal:hover {
	> div.hide {
		display: block;
	}
}

a.external {
  text-decoration-style: double;
}

.link-body {
	padding: 1.2rem;
	box-sizing: border-box;
	margin-left: 0;
}

.post-link {
	color: var(--color-link);
}

.quote-link {
	padding-left: 2em;
	margin-bottom: 1em;
}

.u-photo {
	position: relative;
	max-width: 250px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: $phone-width) {
	.link-body {
		margin-left: 15%;
	}
}
