li {
    ul,
    ol {
        padding-left: 1em;
    }
    >p {
        padding-top: .5em;
        margin: 0;
    }
}

.post-toc {
    position: relative;
    width: inherit;
}

.addendum {
    list-style-type: none;
	font-size: $font-size - 2pt;
	color: var(--color-aside);
}

.citation {
	list-style-type: none;
	font-size: $font-size - 2pt;
	color: var(--color-aside);
}

.home-list {
    list-style-type: none;
    padding-left: 0;
}
