.list-pagination-container {
	display: flex;
	margin: 1em;
}

.list-pagination-left {
	flex: 50%;
	text-align: left;
}

.list-pagination-left-number {
	margin-left: 0.2em;
}

.list-pagination-right-number {
	margin-right: 0.2em;
}

.list-pagination-right {
	flex: 50%;
	text-align: right;
}

