.backlink-popup {

  font-size: 10pt;
  color: var(--color-paragraph);
  background: var(--color-background);
  text-transform: none;

  position: absolute;
  width: 50%;
  border: 1px solid var(--color-stroke);
  padding: 0 1%;
}

.hide {
  display: none;
}
