table {
	color: var(--color-primary);
	border-collapse: collapse;
	border-spacing: 0;
	margin: 1.5em 0;
}
td {
	padding: 0.5em 1em;
	border: thin solid var(--color-border);
}
th {
	padding: 0.5em 1em;
	border: thin solid var(--color-border);
	font-weight: normal;
}
tr {
	&:nth-child(even) {
		td {
			background: var(--color-primary-offset);
		}
	}
}
