h1,h2,h3,h4,h5,h6 {
	font-family: 'Ubuntu Condensed', Verdana, Geneva, sans-serif;
  color: var(--color-txt);
	margin: 1.5em 0 -0.5em 0;
	padding-bottom: 0.125em;
	clear: both;
}

p {
	margin: 1.5em 0;
	line-height: 1.575em;
	text-align: justify;
}

pre {
	>code {
		font-family: 'Ubuntu Mono', monospace !important;
		padding: 1em;
		line-height: 1.5;
		border: grey 3px solid;
		border-radius: 0.3rem;
		margin: 1.5em 0;
		display: block;
		word-break: normal;
		overflow-x: auto;
	}
}

sup {
	color: var(--color-txt);
	padding-left: .12em;
	padding-right: .12em;
	>a {
		text-decoration: none;
		color: var(--color-txt-offset);
	}
}

blockquote {
	border-left: 0.3em solid gray;
	margin: 0.8em 0.8em 0em 0.8em;
	padding: 0.5em 0.5em;
	font-style: italic;
	p {
		display: inline;
	}
}

h1.post-title {
	font-size: 1.8em;
}

.post-attributes {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	>p {
		margin: 0;
		text-align: center;
	}
}

.muted-text {
	color: var(--color-txt-offset);
	font-size: 0.8em;
}

.card-subtext {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}

.comment-subtext {
	list-style-type: none;
}

.copyright {
	text-align: right;
	font-size: 0.8em;
}

span.word {
	font-size: 1.6rem;
}

span.term {
	font-variant: small-caps;
}

span.definition {
	margin-left: 5%;
}

span.example {
	font-style: italic;
}

@media screen and (min-width: 40.063em) {
	.card-subtext {
		display: flex;
	}
}

@media screen and (min-width: 80em) {
	.post-toc {
		position: fixed;
		top: 2em;
		left: 0.2em;
		width: 18%;
	}
	.post-citations {
		position: fixed;
		top: 2em;
		right: 1em;
		width: 18%;
	}
	.post-addendum {
		position: fixed;
		top: 2em;
		right: 1em;
		width: 18%;
	}
	.post-accordion {
		position: absolute;
		left: 0.2em;
	}
	.post-accordion-quote {
		box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.19) inset, 0 0.3rem 0.3rem -0.1rem rgba(0, 0, 0, 0.23) inset;
		background-color: #ecedef;
		width: 50%;
	}
}

