{{- $title := partial "ops/get-title.html" . -}}
{{- $version := "ESV" -}}{{- if isset .Params "version" -}}{{- $version = .Params.version -}}{{- end -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partialCached "head.html" . }}
<body class="flow-l">
  {{ partialCached "nav-bar.html" . }}

  <article class="wrapper flow-m e-content">
      <h1 id="jump">{{- $title -}}</h1>
      <h3>({{- $version -}}, {{ .Params.ref }})</h3>
      <a href="{{ .Permalink }}" hidden></a>
      {{- .Content -}}
    </article>

  {{- if ne $.Site.Data.backrefs nil -}}
		{{- $matches := where $.Site.Data.backrefs "referrer" "eq" (printf "/%s" .File.Path) -}}

		{{- if gt (len $matches) 0 -}}
		{{ partial "curve.html" (dict "Classes" "curve backlinks") }}
		<aside id="backlinks" class="wrapper flow-m">
			{{- partial "backlink.html" (dict "path" (printf "/%s" .File.Path) "backrefs" $.Site.Data.backrefs "site" .Site) -}}
		</aside>
		{{ partial "curve.html" (dict "Classes" "curve backlinks reverse") }}
	  {{- end -}}

  {{- end -}}

  {{ partialCached "foot.html" . }}
  {{ partialCached "scripts.html" . }}
</body>
</html>
