<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partial "head.html" . }}
<body>
  {{ partial "nav-bar.html" . }}
  <article class="bible h-entry">

      {{- $title := .Title -}}{{- if eq $title "" -}}{{- $title = humanize .File.BaseFileName -}}{{- end -}}
      <h1 class="bible__title p-name">{{- $title -}}</h1>
      <a class="u-url" href="{{ .Permalink }}" hidden></a>
      <h3 class="bible__src">(<span class="bible__version">ESV</span>, {{ .Params.ref }})</h3>

      <div class="bible__content e-content">
          {{ .Content }}
      </div>
  </article>
  {{ partial "backlink.html" . }}
  {{ partial "foot.html" }}
  {{ partial "scripts.html" . }}
</body>
</html>
