{{- $title := .Title -}}{{- if eq $title "" -}}{{- $title = humanize .File.BaseFileName -}}{{- end -}}
{{- $version := "ESV" -}}{{- if isset .Params "version" -}}{{- $version = .Params.version -}}{{- end -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="flow-l">
  {{ partialCached "nav-bar.html" . }}

  <article class="wrapper flow-m e-content">
      <h1 id="jump">{{- $title -}}</h1>
      <h3>({{- $version -}}, {{ .Params.ref }})</h3>
      <a href="{{ .Permalink }}" hidden></a>
      {{- .Content -}}
    </article>

	<aside id="backlinks" class="wrapper flow-m">
		{{- partial "backlink.html" (dict "path" (printf "/%s" .File.Path) "backrefs" $.Site.Data.backrefs "site" .Site) -}}
	<aside>

  {{ partialCached "foot.html" . }}
  {{ partialCached "scripts.html" . }}
</body>
</html>
