<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body>
    {{ partialCached "nav-bar.html" . }}

    <section class="garden-page">
    {{ .Content }}

    {{- $radius := 2.5 -}}
    {{- $tagX := 30 -}}
    {{- $tagY := 80 -}}
    {{- $authorX := 60 -}}
    {{- $authorY := 100 -}}

    <!-- meta isle: (0,0), (160,100) -->
    <!-- faith isle: (160,100), (400,300) -->
    <!-- business isle: (20,180), (160,250) -->
    <!-- technology isle: (0,280), (200,380) -->
    <!-- parenting isle: (220,400), (380,450) -->
    <svg class="garden-page__canvas" id="background" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0, 0, 400, 450">
      <defs>
        <g id="river">
          <!-- TODO: add river path -->
        </g>
      </defs>
      <defs>
        <g id="garden">
          <!-- TODO: add boats -->
          <circle r="{{ $radius }}"></circle>
        </g>
      </defs>
      {{- range .Pages -}}
        {{- if isset .Params "coordinates" -}}
        {{- $title := .Title -}}{{- if eq $title "" -}}{{- $title = humanize .File.BaseFileName -}}{{- end -}}
        <g class="garden">
          <a class="garden__link" href="{{ .Permalink }}">{{- $title -}}
            <text class="garden__title" x="{{ add .Params.coordinates.x $radius }}" y="{{ sub .Params.coordinates.y $radius }}">{{- $title -}}</text>
            <use class="garden__icon" href="#garden" x="{{ .Params.coordinates.x }}" y="{{ .Params.coordinates.y }}"></use>
          </a>
        </g>
          <!-- TODO: add use elements to render river -->
        {{- end -}}
      {{- end -}}
      <g>
        <a class="garden__link" href="{{ .Site.BaseURL }}/tags">
            <text class="garden__title" x="{{ add $tagX $radius }}" y="{{ sub $tagY $radius }}">tags directory</text>
            <use class="garden__icon" href="#garden" x="{{ $tagX }}" y="{{ $tagY }}"></use>
        </a>
      </g>
      <g>
        <a class="garden__link" href="{{ .Site.BaseURL }}/authors">
            <text class="garden__title" x="{{ add $authorX $radius }}" y="{{ sub $authorY $radius }}">authors directory</text>
            <use class="garden__icon" href="#garden" x="{{ $authorX }}" y="{{ $authorY }}"></use>
        </a>
      </g>

      </svg>
    </section>
    {{ partialCached "foot.html" . }}
  {{ partialCached "scripts.html" . }}
</body>
</html>
