<article class="post e-content">
  <h1 class="post__title">{{- .Title -}}</h1>
  <a class="u-url" href=" {{ .Permalink }}"></a>
<!-- Post Attributes -->
<ul class="post__attr">
  {{- if isset .Params "author" -}}
  <li>By: <a rel="author" class="post__author p-author">{{- .Params.author -}}</a></li>
  {{- else -}}
    <li>By: <a rel="author" class="post__author p-author">Alex Bilson</a></li>
  {{- end -}}
  {{- if isset .Params "date" -}}
  <li>Posted: <time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">{{- .Date.Format "Jan 2, 2006" -}}</time></li>
  <li>Modified: <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{- .Lastmod.Format "Jan 2, 2006" -}}</time></li>
  {{- end -}}

  <!-- Adds tags to the post if they exist -->
  {{- $taxo := "tags" -}}
  {{- if isset .Params $taxo -}}
  <li>Tags:
    {{- range $name := .Param $taxo -}}
      {{- with $.Site.GetPage (printf "/%s/%s" $taxo ( $name | urlize)) -}}
    <a class="post__link p-category" href="{{ .Permalink }}">{{- $name -}}</a>
      {{- end -}}
    {{- end -}}
  </li>
  {{- end -}}
</ul>

  <!-- Post Image -->
  {{ with .Params.featuredImage -}}
    {{- if ne .large "" -}}
  <picture>
    <img src="{{ .large }}" alt="{{ .alt }}">
  </picture>
    {{- end }}
  {{- end }}

  <!-- Post Table of Contents -->
  {{ if .Params.toc -}}
  <div class="post__toc">
    <h2>Contents</h2>
    {{ .TableOfContents }}
  </div>
  {{- end }}
</header>

  {{ .Content }}
  {{ partial "backlink.html" . }}
  {{ partial "comments.html" . }}
</article>
