<!-- Post Attributes -->
<div class="post-attributes muted-text">
  {{ if isset .Params "author" }}
    <p>By <a rel="author" class="p-author">{{ .Params.author }}</a></p>
  {{ else }}
    <p>By <a rel="author" class="p-author">Alex Bilson</a></p>
  {{ end }}

  {{ if isset .Params "date" }}
  <p>Posted <time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
  <p>Modified <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "Jan 2, 2006" }}</time></p>
  {{ end }}

  <!-- Adds tags to the post if they exist -->
  {{ $taxo := "tags" }}
  {{ if isset .Params $taxo }}
  <p>Tags:
    {{ range $name := .Param $taxo }}
    {{ with $.Site.GetPage (printf "/%s/%s" $taxo ( $name | urlize)) }}
    <span><a class="p-category post-link" href="{{ .Permalink }}">{{ $name }}</a></span>
    {{ end }}
    {{ end }}
  </p>
  {{ end }}
</div>
