<div>
	<ul class="spread" role="list">
	{{- $author := partial "ops/get-author.html" . -}}
		<li>By: <a rel="author" class="p-author">{{- $author -}}</a></li>
	{{- if isset .Params "date" -}}
		<li>Posted: <time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">{{- .Date.Format "Jan 2, 2006" -}}</time></li>
		<li>Modified: <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{- .Lastmod.Format "Jan 2, 2006" -}}</time></li>
	{{- end -}}
	{{- if isset .Params "syndicated" -}}
	<li class="spread spread-narrow"><span>Syndicated:</span>
		<ul class="spread narrow-spread" role="list">
		{{- range $syndicate, $href := .Param "syndicated" -}}
			{{- $icon := partial "ops/get-syndication-icon.html" $syndicate -}}
			<li><a class="no-underline" href="{{ $href }}">{{ $icon }}</a></li>
		{{- end -}}
		</ul>
		</li>
	{{- end -}}

	<!-- adds second set of attrs if they exist -->
	{{- if (or ( isset .Params "epistemic" ) ( isset .Params "tags" )) -}}
	 {{- if isset .Params "epistemic" -}}
		{{- $epistemic := partial "ops/get-epistemic.html" . -}}
		<li>Epistemic: <span>{{ $epistemic }}(<a href="/plants/meta/epistemic-notes-reveal-growth">{{ .Params.epistemic }}</a>)</span></li>
	 {{- end -}}

	 {{- if isset .Params "tags" -}}
		 <li><ul class="spread narrow-spread" role="list">Tags:
		{{- range $name := .Param "tags" -}}
			{{- with $.Site.GetPage (printf "/%s/%s" "tags" ( $name | urlize)) -}}
			<li><a class="p-category" href="{{ .Permalink }}">{{- $name -}}</a></li>
			 {{- end -}}
		{{- end -}}
		 </ul></li>
	{{- end -}}
	</ul>
	{{- end -}}
</div>
