{{- $anchor := .File.BaseFileName -}}
{{- $path := printf "/%s" .File.Path -}}

{{- range where $.Site.Data.backrefs "referrer" "eq" $path -}}
	{{- if gt (len .sources) 0 -}}
	{{- $referrer := .referrer -}}
<aside class="wrapper flow-s">
	<h3>References To This Page</h3>
	<p>These show all the pages that refer to this page. If there is an arrow next to a link, it points to pages that link to <i>that</i> page.</p>
	<ul class="spread-down" role="list">
		{{- range $source := .sources -}}
			{{- $sourcePage := $.Site.GetPage $source -}}
			{{- $sourceTitle := $sourcePage.Title -}}{{- if eq $sourceTitle "" -}}{{- $sourceTitle = humanize $sourcePage.File.BaseFileName -}}{{- end -}}
			<li class="spread"><a style="max-width: 20ch;" href="{{ $sourcePage.Permalink }}" data-referrer="{{ $referrer }}">{{ $sourceTitle }}</a>

				<!-- second-level backrefs if available -->
			{{- range where $.Site.Data.backrefs "referrer" "eq" $source -}}
				{{- if gt (len .sources) 0 -}}
				{{- $referrer := .referrer -}}
				<span>--></span> <ul class="spread-down" style="max-width: 20ch; margin: 0px;" role="list">
						{{- range $subSource := .sources -}}
							{{- $subSourcePage := $.Site.GetPage $subSource -}}
							{{- $subSourceTitle := $subSourcePage.Title -}}{{- if eq $subSourceTitle "" -}}{{- $subSourceTitle = humanize $subSourcePage.File.BaseFileName -}}{{- end -}}
							<li><a style="max-width: 20ch;" href="{{ $subSourcePage.Permalink }}" data-referrer="{{ $referrer }}">{{ $subSourceTitle }}</a></li>
						{{- end -}}

				{{- end -}}
			{{- end -}}
			</li>
		{{- end -}}
	</ul>
</aside>
	{{- end -}}
{{- end -}}
