{{- $anchor := .File.BaseFileName -}}
{{- $path := printf "/%s" .File.Path -}}

{{- range where $.Site.Data.backrefs "referrer" "eq" $path -}}
	{{- if gt (len .sources) 0 -}}
<aside class="wrapper">
	<h3>References To This Page</h3>
	<ul class="spread" role="list">
		{{- range .sources -}}
			{{- with $.Site.GetPage . -}}
			{{- $title := .Title -}}{{- if eq $title "" -}}{{- $title = humanize .File.BaseFileName -}}{{- end -}}
			<li><a href="{{ .Permalink }}">{{ $title }}</a></li>
			{{- end -}}
		{{- end -}}
	</ul>
</aside>
	{{- end -}}
{{- end -}}
