{{ if .Params.comments }}

  <p>To leave a reply, log in to an identifying account (e.g. Facebook, etc.) and write a comment below
    (see my <a href="{{ .Site.BaseURL }}/policies">policies</a>) or send me a <a class="post-link" href="https://indieweb.org/Webmention">webmention</a>
    with a reference to this post and I may add it here. &#x1F601;</p>
  <div id="remark42"></div>

{{ else }}

  <p>To leave a reply, <a class="post-link" href="mailto:acbilson@gmail.com">email me</a> or send me a <a class="post-link" href="https://indieweb.org/Webmention">webmention</a>
    with a reference to this post and I may add it here. &#x1F601;</p>

{{ end }}