<head>
  <!-- Page Metadata -->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

  <!-- Page Title -->
  <title>{{- .Site.Title -}}</title>

  <!-- Page Links -->
  {{ $mainStyle := resources.Get "css/main.scss" | resources.ToCSS | minify }}
  <link href="{{ $mainStyle.Permalink }}" type="text/css" rel="stylesheet">

  <!-- favicon.ico -->
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico" />

  <!-- adds PWA manifest -->
  <link rel="manifest" href="{{ .Site.BaseURL }}/manifest.json">

  <!-- adds authentication endpoint -->
  <link rel="authentication" href="https://pub.alexbilson.dev">

  <!-- adds publish endpoint -->
  <link rel="publish" href="https://pub.alexbilson.dev">

	<!-- adds reference back to Mastodon -->
	<link rel="me" href="https://indieweb.social/@acbilson">Mastodon</link>

  <!-- adds supported RSS feeds -->
  {{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ $.Site.BaseURL }}/logs/index.xml" title="{{ $.Site.Title }} - Ship's Log" />
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ $.Site.BaseURL }}/plants/index.xml" title="{{ $.Site.Title }} - Notes" />
  {{ end -}}

  <!-- sets color scheme before page load -->
  <script>
    if (localStorage.getItem('theme')) {
      // handles user's transition from light/dark
      if (localStorage.getItem('theme') === 'light') {
        document.documentElement.setAttribute('theme', 'minimal');
        localStorage.setItem('theme', 'minimal');
      } else if (localStorage.getItem('theme') === 'dark') {
        document.documentElement.setAttribute('theme', 'void');
        localStorage.setItem('theme', 'void');
      } else {
        document.documentElement.setAttribute('theme', localStorage.getItem('theme'));
      }
    } else {
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.setAttribute('theme', 'void');
        localStorage.setItem('theme', 'void');
      } else {
        document.documentElement.setAttribute('theme', 'minimal');
        localStorage.setItem('theme', 'minimal');
      }
    }
  </script>
</head>
