{{ with .Content -}}
      <section class="post-body">
        {{ . }}
      </section>
      {{- end }}

<!-- Gets regular pages for the site -->
{{ if .IsHome }}

  {{ $pages := where .Data.Pages ".Params.category" "!=" nil}}
  {{ $groups := $pages.GroupByParam "category" }}
  <section class="link-body">
  {{ range $groups}}
    <h2>{{ .Key | upper }}</h2>
    <ol class="home-list">
    {{ range .Pages }}
    <li>
      <span style="display: inline-block; width: 125px">{{ .Date.Format "2006-01-02" }}</span>
      <a href="{{ .Permalink }}">{{ .Params.title }}</a>
    </li>
    {{ end }}
    </ol>
  {{ end }}
  </section>

{{ else }}
  {{ $pages := .Pages }}
  {{ $paginator := .Paginate (where $pages "Params.displayinlist" "!=" false) -}}

  <!-- Renders all page cards -->
  {{- range $paginator.Pages -}}
  {{ .Render "li" }}
  {{- end }}
{{ end }}
