<nav class="nav-bar">

    <a href="{{ .Site.BaseURL }}">Home</a>
    <a href="{{ .Site.BaseURL }}/posts/">Posts</a>
    <a href="{{ .Site.BaseURL }}/notes/">Notes</a>
    <a href="{{ .Site.BaseURL }}/logs/">Log</a>
    <a href="{{ .Site.BaseURL }}/blogroll/">Blog Roll</a>
    <a href="{{ .Site.BaseURL }}/about/">About</a>
    <a href="{{ .Site.BaseURL }}/resume/">Resumé</a>

    <div class="dark-switch">
    <label class="switch">
      <input id="mode-switch" type="checkbox" />
      <span class="slider"></span>
    </label>
    <label class="switch-label">dark-mode</label>
    </div>
</nav>
