<nav class="nav-bar">

    <a href="{{ .Site.BaseURL }}">Home</a>
    <a href="{{ .Site.BaseURL }}/posts/">Posts</a>
    <a href="{{ .Site.BaseURL }}/notes/">Notes</a>
    <a href="{{ .Site.BaseURL }}/logs/">Log</a>
    <a href="{{ .Site.BaseURL }}/blogroll/">Blog Roll</a>
    <a href="{{ .Site.BaseURL }}/about/">About</a>
    <a href="{{ .Site.BaseURL }}/resume/">Resumé</a>

    <select id="nav-switch" class="nav-bar__switch">
      <option value="jungle">Jungle</option>
      <option value="void">Void</option>
      <option value="minimal">Minimal</option>
    </select>
</nav>
