<nav class="nav-bar">
  <div>
    <button type="button" class="nav-bar__btn" onclick="window.location.href='{{ .Site.BaseURL }}'">Home</button>
  </div>
  <div>
    <button type="button" class="nav-bar__btn" onclick="window.location.href='{{ .Site.BaseURL }}/gardens/'">Gardens</button>
  </div>
  <div>
    <button type="button" class="nav-bar__btn" onclick="window.location.href='{{ .Site.BaseURL }}/logs/'">Logs</button>
  </div>
  <div>
    <button type="button" class="nav-bar__btn" onclick="window.location.href='{{ .Site.BaseURL }}/blogroll/'">Roll</button>
  </div>
  <div>
    <button type="button" class="nav-bar__btn" onclick="window.location.href='{{ .Site.BaseURL }}/resume/'">Resumé</button>
  </div>
  <div>
    <select>
      <option selected>--Extra</option>
      <option>About</option>
      <option>Comments</option>
      <option>Network</option>
      <option>Policies</option>
      <option>Search</option>
      <option>Styles</option>
    </select>
  </div>

  <div>
    <select id="nav-switch" class="nav-bar__switch">
      <option value="jungle">Jungle</option>
      <option value="void">Void</option>
      <option value="fall">Fall</option>
      <option value="minimal">Minimal</option>
    </select>
  </div>
</nav>
