<!-- Post Citations & Addendum -->
<footer class="post-footer muted-text">
  {{ with .Params.citations }}
  <div class="post-citations">
  <h3><a name="citations">Citations</a></h3>
  <ul>
    {{ range . }}
    <li>
      <p>{{ . }}</p>
    </li>
    {{ end }}
  </ul>
</div>
  {{ end }}
  {{ with .Params.addendum }}
  <div class="post-addendum">
  <h3><a name="addendum">Addendum</a></h3>
  <ul>
    {{ range $index, $val := . }}
    <li>
      <p><sup>[{{ add $index 1 }}]</sup>{{ $val }}</p>
    </li>
    {{ end }}
  </ul>
</div>
  {{ end }}

  {{ $anchor := .File.BaseFileName }}
  {{ with .Params.backlinks }}
    <h3>Backlinks</h3>
    <div style="display: flex; flex-flow: row wrap; justify-content: space-between;">
    {{ range $val := . }}
    <div style="border: 1px solid black; width: 45%; margin-top: 2%; padding: 10px;">
    <p style="margin-top: 0;"><a href="{{$val.ref}}#{{ $anchor }}">{{$val.ref}}</a></p>
    <p>{{$val.content}}</p>
    </div>
    {{ end }}
    </div>
  {{ end }}

<!-- Post Closing Comment -->
{{ if .Params.comments }}
<p>To leave a reply, log in to an identifying account (e.g. Facebook, etc.) and write a comment below (see my <a href="{{ .Site.BaseURL }}/policies">policies</a>) or send me a <a class="post-link" href="https://indieweb.org/Webmention">webmention</a> with a reference to this post and I may add it here. &#x1F601;</p>

<div id="remark42"></div>
{{ else }}
<p>To leave a reply, <a class="post-link" href="mailto:acbilson@gmail.com">email me</a> or send me a <a class="post-link" href="https://indieweb.org/Webmention">webmention</a> with a reference to this post and I may add it here. &#x1F601;</p>
{{ end }}

</footer>
