<section class="note-page">

  <h1 class="note-page__title">{{- .Title -}}</h1>

  {{- with .Content -}}
  <p>{{- . -}}</p>
  {{- end -}}

    <form id="note-form" name="notesForm" class="note-page__form">
    <select name="epistemicSelector">
      <option value="🌱">Seedling 🌱</option>
      <option value="🌿">Sprout 🌿</option>
      <option value="🪴">Plant 🪴</option>
      <option value="🌲">Evergreen 🌲</option>
    </select>
    <input type="submit" value="Filter"/>
    </form>

  <!-- adds event handler to handle form -->
  {{- $notepagejs := resources.Get "js/note-page.js" -}}
  <script src="{{ $notepagejs.Permalink }}"></script>

  <ul id="notes-list" class="note-page__list">
  {{- range .Pages.ByLastmod.Reverse -}}
    {{- if not .Draft -}}
      {{- $epVal := "🌱" -}}
      {{- if eq .Params.epistemic "sprout" -}}
          {{- $epVal = "🌿" -}}
      {{- else if eq .Params.epistemic "plant" -}}
          {{- $epVal = "🪴" -}}
      {{- else if eq .Params.epistemic "evergreen" -}}
          {{- $epVal = "🌲" -}}
      {{- end -}}

      {{- $title := .Title -}}{{- if eq $title "" -}}{{- $title = humanize .File.BaseFileName -}}{{- end -}}
    {{- $topFolder := index (split .URL "/") 2 -}}
      <li>
        <div class="note-card" data-epistemic="{{- $epVal -}}">
          <div class="note-card__attr">[<span>{{- $epVal -}}</span>
            <span>{{- .Lastmod.Format "2/1/06" -}}</span>
            <span>{{- substr $topFolder 0 5 -}}</span>]</div>
          <div><a class="note-card__link" href="{{- .Permalink -}}">{{- $title -}}</a></div>
        </div>
      </li>
    {{- end -}}
  {{- end -}}
  </ul>
</section>
