<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{- partial "head.html" . -}}
<body>
  {{- partial "nav-bar.html" . -}}
</body>
</html>

  <section class="terms-page">
    <h1>{{- .Title -}}</h1>
    <div class="terms-page__terms">

    {{- $root := .Data.Plural -}}

    <!-- retrieves every tag, ordered alphabetically -->
    {{- range $term := .Data.Terms.Alphabetical -}}

    <!-- retrieves every tag page for simple links -->
      {{- $path := path.Join $root .Term -}}

      {{- with $.Site.GetPage $path -}}
        <div>
          <a href="{{ .Permalink }}">{{- .Title -}}<sup>({{- $term.Count -}})</sup></a>
        </div>
      {{- end -}}
    {{- end -}}
    </div>
  </section>
  {{- partial "foot.html" . -}}
  {{- partial "scripts.html" . -}}
  </body>
</html>
