{{- $evergreens := sort (where .Pages "Params.epistemic" "evergreen") "Lastmod" "desc" -}}
{{- $plants := sort (where .Pages "Params.epistemic" "plant") "Lastmod" "desc" -}}
{{- $sprouts := sort (where .Pages "Params.epistemic" "sprout") "Lastmod" "desc" -}}
{{- $seedlings := sort (where .Pages "Params.epistemic" "seedling") "Lastmod" "desc" -}}
{{- $everyPlant := $evergreens | append $plants | append $sprouts | append $seedlings -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="flow-l">
	{{ partialCached "nav-bar.html" . }}

	<article class="wrapper flow-m">
		<h1 id="jump">{{- .Title -}}</h1>
		{{- .Content -}}

		<chaos-filter>
			<form class="spread" slot="chaos-filter-form" action='{{ .Site.BaseURL }}' method=get>
				<select data-match="epistemic">
					<option value="all">All ({{- len $everyPlant -}})</option>
					<option value="evergreen">Evergreen 🌲 ({{- len $evergreens -}})</option>
					<option value="plant">Plant 🪴 ({{- len $plants -}})</option>
					<option value="sprout">Sprout 🌿 ({{- len $sprouts -}})</option>
					<option value="seedling">Seedling 🌱 ({{- len $seedlings -}})</option>
				</select>
				<select data-match="folder">
					<option value="all">All</option>
					<option value="business">Business</option>
					<option value="culture">Culture</option>
					<option value="entrepreneurship">Entrepreneurship</option>
					<option value="faith">Faith</option>
					<option value="identity">Identity</option>
					<option value="leadership">Leadership</option>
					<option value="meta">Meta</option>
					<option value="parenting">Parenting</option>
					<option value="science">Science</option>
					<option value="technology">Technology</option>
					<option value="writing">Writing</option>
				</select>
				<input type="submit" value="Filter"/>
			</form>

		<chaos-resizer slot="chaos-filter-fields">
		<ul class="fill-list filter-wide" role="list">
		{{- range $everyPlant -}}
			{{- if not .Draft -}}
			{{- $epistemic := partial "ops/get-epistemic.html" . -}}
			{{- $title := partial "ops/get-title.html" . -}}
			{{- $topFolder := index (split .RelPermalink "/") 2 -}}
			<li data-epistemic="{{- .Params.epistemic -}}" data-folder="{{- $topFolder -}}">
				<div><a href="{{- .Permalink -}}">{{- $title -}}</a></div>
				<div>[<span>{{- $epistemic -}}</span>
					<span>{{- .Date.Format "2/1/06" -}}</span>
					<span hidden>{{- .Lastmod.Format "2/1/06" -}}</span>
					<span>{{- substr $topFolder 0 5 -}}</span>
					<span>{{- .ReadingTime -}} m</span>]
				</div>
			</li>
			{{- end -}}
		{{- end -}}
		</ul>
	</article>
{{ partialCached "foot.html" . }}
{{ partialCached "scripts.html" . }}
</body>
</html>
