{{- $author := "Alex Bilson" -}}{{- if isset .Params "author" -}}{{- $author = .Params.author -}}{{- end -}}
{{- $title := .Title -}}{{- if eq $title "" -}}{{- $title = humanize .File.BaseFileName -}}{{- end -}}
{{- $path := strings.TrimSuffix ".md" (printf "/%s" .File.Path) -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="flow-l">
	{{ partialCached "nav-bar.html" . }}
	<article class="wrapper flow-m e-content">
		<h1 id="jump">{{ $title }}</h1>
		<a class="u-url" href="{{ .Permalink }}" hidden></a>
		{{ .Content }}

		{{ partial "comments.html" . }}
		{{ partial "attributes.html" . }}
	</article>
		{{ partial "backlink.html" . }}
		<chaos-panel data-panel-type="plant"
			><ul role="list">
				<chaos-panel-option
					data-key="date"
					data-label="Date"
					data-type="text"
					data-readonly="true"
				></chaos-panel-option>
				<chaos-panel-option
					data-key="path"
					data-label="File Path"
					data-type="text"
					data-required="true"
				></chaos-panel-option>
				<chaos-panel-option
					data-key="author"
					data-label="Author"
					data-type="text"
					data-required="true"
				></chaos-panel-option>
				<chaos-panel-option
					data-key="tags"
					data-label="Tags"
					data-type="list"
					data-required="true"
				></chaos-panel-option>
				<chaos-panel-option
					data-key="epistemic"
					data-label="Epistemic"
					data-type="text"
					data-required="true"
				></chaos-panel-option>
				<chaos-panel-option
					data-key="in-reply-to"
					data-label="In Reply To"
					data-type="text"
				></chaos-panel-option></ul
		></chaos-panel>
{{ partialCached "foot.html" . }}
{{ partialCached "scripts.html" . }}
</body>
</html>
