{{- $author := "Alex Bilson" -}}{{- if isset .Params "author" -}}{{- $author = .Params.author -}}{{- end -}}
{{- $title := .Title -}}{{- if eq $title "" -}}{{- $title = humanize .File.BaseFileName -}}{{- end -}}
{{- $path := strings.TrimSuffix ".md" (printf "/%s" .File.Path) -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="flow-l">
	{{ partialCached "nav-bar.html" . }}
	<article class="wrapper flow-m e-content">
		<h1 id="jump">{{ $title }}</h1>
		<a class="u-url" href="{{ .Permalink }}" hidden></a>
		{{ .Content }}
		{{ partial "backlink.html" . }}
		{{ partial "comments.html" . }}
		{{ partial "attributes.html" . }}
	</article>
		<app-panel
			><div slot="options">
				<app-panel-option
					key="date"
					label="Date"
					type="text"
					readonly="true"
				></app-panel-option>
				<app-panel-option
					key="path"
					label="File Path"
					type="text"
					required="true"
				></app-panel-option>
				<app-panel-option
					key="author"
					label="Author"
					type="text"
					required="true"
				></app-panel-option>
				<app-panel-option
					key="tags"
					label="Tags"
					type="list"
					required="true"
				></app-panel-option>
				<app-panel-option
					key="epistemic"
					label="Epistemic"
					type="text"
					required="true"
				></app-panel-option>
				<app-panel-option
					key="in-reply-to"
					label="In Reply To"
					type="text"
				></app-panel-option></div
		></app-panel>
{{ partialCached "foot.html" . }}
{{ partialCached "scripts.html" . }}
</body>
</html>
