{{ $src := .Get "src" }} {{ $name := .Get "name" }} {{ $paragraph := .Get "paragraph" }}
{{ $dirFile := path.Split $src }}
{{ $words := split $dirFile.File "-" }}
{{ $title := delimit $words " " }}
{{ if ne $paragraph "" }}
  <a class="internal" data-paragraph="{{ $paragraph }}" name="{{ $dirFile.File }}" href="{{ ref . $src }}">
{{ else }}
  <a class="internal" name="{{ $dirFile.File }}" href="{{ ref . $src }}">
{{ end }}
{{ with $name }}{{ . }}{{ else }}{{ $title }}{{ end }}</a>
{{- print "" -}}
