{{- $src := .Get "src" -}}
{{- $name := .Get "name" -}}

{{- $filename := (path.Split $src).File -}}
	<!-- jumps to primary header -->
{{- $hash := "#jump" -}}

<!-- If I specify a hash in the src, strip it from the filename so it's not reflected in the title -->
{{- if in $filename "#" -}}
	{{- $filename = index (split $filename "#") 0 -}}
	<!-- hash is already on $src -->
	{{- $hash = "" -}}
{{- end -}}
{{- $title := delimit (split $filename "-") " " -}}

<a
  class="backref"
  name="{{ $filename }}"
  href="{{ ref . $src }}{{ $hash }}">
{{- with $name -}}{{- . -}}{{- else -}}{{- $title -}}{{- end -}}</a>
{{- print "" -}}
