{{- $type := .Get "type" -}}
{{- $name := .Get "name" -}}
{{- $src := .Get "src" -}}

{{- $icon := "ℹ️" -}}
{{- if eq $type "warning" -}}{{- $icon = "⚠️" -}}{{- end -}}
{{- if eq $type "quote" -}}{{- $icon = "💬" -}}{{- end -}}

{{- $length := "short" -}}
{{- if eq (.Get "long") true -}}
  {{- $length = "long" -}}
{{- end -}}

<div class="notice">
  <p>{{$icon}}</p>
  <p>{{- .Inner -}}</p>
  {{- if ne $name "" -}}
    {{- if ne $src "" -}}
    <p><a href="{{$src}}">{{- $name -}}</a></p>
    {{- else -}}
    <p>{{- $name -}}</p>
    {{- end -}}
  {{- end -}}
</div>
