{{- $darkmodejs := resources.Get "js/darkmode.js" -}}
{{- $navbarjs := resources.Get "js/nav-bar.js" -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partialCached "head.html" . }}
<body class="flow-l">
	{{ partialCached "nav-bar.html" . }}

	<article class="wrapper flow-m">
		<p>This search bar is custom-built to query, not only words on my website, but also the content of my favorite webmasters. Enjoy!</p>
		<chaos-search></chaos-search>
		<hr />
		<p>If you are one of the webmasters on this list but don't want your site indexed here, contact me at acbilson (at) ofchaosandorder (dot) com and I'll fully delete you from the index.</p>
	</article>
	{{ partialCached "foot.html" . }}
	{{ partialCached "scripts.html" . }}
</body>
</html>
