{{- $darkmodejs := resources.Get "js/darkmode.js" -}}
{{- $navbarjs := resources.Get "js/nav-bar.js" -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="flow-l">
  {{ partialCached "nav-bar.html" . }}

  <article class="wrapper flow-m">
  <h1 id="jump">{{ .Title }}</h1>
  		<div class="spread">
			<chaos-login class="spread-down"><p>No login</p></chaos-login>
  		</div>
  </article>

  {{ partialCached "foot.html" . }}
  {{ partialCached "scripts.html" . }}
</body>
</html>
